.coin-app{
    
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.coin-container{
    display: flex;
    justify-content: center;
}
.coin-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.coin-row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: auto;
}
.coin{
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}
.coin h1 {
font-size: 16px;
width: 150px;
}
.coin img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.coin-symbol{
    text-transform: uppercase;
}
.coin-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.coin-price,
.coin-volume,
.coin-percent,
.coin-marketcap

{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 auto;
}
.red {
    color: #f00606;
  }
  
  .green {
    color: #11d811;
  }
  .coin-price{
      width: 150px;
  }
  .coin-volume {
    width: 220px;
  }
  
  .coin-marketcap {
    width: auto;
  }
  
  .coin-percent {
    width: 100px;
  }